---
import '../styles/_index.css'

import { getCollection } from 'astro:content'

const socials = await getCollection('socials')
---

<html lang="en" data-theme="one-dark-two">
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content={Astro.generator}>
    <title>Justin Forlenza</title>
  </head>
  <body>
    <header>
      <slot name="header">
        <h1>Justin Forlenza <span class="blink-cursor"></span></h1>
        <p>full-stack developer · educator · new york city</p>
        <dl>
          <dt>role</dt>
          <dd>
            full-stack instructor @
            <a target="_blank" href="https://brooklynsteamcenter.org">
              Brooklyn STEAM Center
            </a>
          </dd>
          <dt>loc</dt>
          <dd>new york city</dd>
          <dt>email</dt>
          <dd>
            <a href="mailto:justin@justinforlenza.dev">
              justin@justinforlenza.dev
            </a>
          </dd>
        </dl>
      </slot>
    </header>
    <main>
      <slot />
    </main>

    <footer>
      {socials.map((social) => (
        <a href={social.data.url} target="_blank" rel="noopener noreferrer">
          {social.data.name}
        </a>
      ))}
    </footer>
  </body>
</html>
