---
import '@fontsource-variable/rubik'

import Logo from '@assets/svg/logo.svg?raw'

interface Props {
  title?: string
}

const {title} = Astro.props
---

<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title === undefined ? 'Justin Forlenza' : `${title} | Justin Forlenza`}</title>
    <style is:global>
      body {
        font-family: 'Rubik Variable', sans-serif;
      }
    </style>
  </head>
  <body class="bg-slate-950 text-white">
    <!-- <button x-data @click="$store.darkMode.toggle()">Toggle Dark Mode</button> -->
    <nav class="flex p-4 max-w-[96rem] mx-auto mt-4 justify-between items-center">
      <a class="children:size-12 children:fill-sky-4" href="/#" aria-label="home">
        <Fragment set:html={Logo} />
      </a>
      <div class="text-lg font-bold gap-5 hidden md:flex hover:children:text-sky-4">
        <a href="/#">Home</a>
        <a href="/#about">About Me</a>
        <a href="/#projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="/blog">Blog</a>
      </div>
    </nav>
    <main class="max-w-7xl mx-auto mt-12 p-4 md:p-6">
      <slot />
    </main>

    <script src="../scripts/darkMode.ts"></script>
  </body>
</html>